@model OxxCommerceStarterKit.Web.Models.Blocks.SectionCountdownBlock
<div class="color-@Model.ColorSection color-solid-@Model.ColorSection">
    <div class="@(Model.FullHeight && EPiServer.Editor.PageEditing.PageIsInEditMode == false ? "homepage-hero-module" : "") section-image-block @(Model.ShowArrow ? " section-image-padding" : "")" style=" background-image: url(@(Url.ContentUrl(Model.Image)+""));">

        <div class="color-@Model.ColorText">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">

                        <div class="countdown">
                            @if (!string.IsNullOrEmpty(Model.Header) || EPiServer.Editor.PageEditing.PageIsInEditMode)
                            {
                                <h2>@Html.PropertyFor(x => x.Header)</h2>
                            }

                            <div id="timer"></div>
                            @Html.PropertyFor(x => x.MainBody)

                        </div>
                    </div>
                </div>
            </div>
            @if (Model as EPiServer.Core.IContent != null && Model.ShowArrow)
            {
                <div style="position: absolute; bottom: 20px; left: 50%; margin-left: -19px;">
                    <a class="coverr-nav-item" href="@("#SectionBottom"+(Model as EPiServer.Core.IContent).ContentLink.ID.ToString())" style="text-decoration: none;">
                        <div class="sectionArrow">
                            <i class="fa fa-angle-down"></i>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
</div>
@if (Model as EPiServer.Core.IContent != null && Model.ShowArrow)
{
    <div id="@("SectionBottom" + (Model as EPiServer.Core.IContent).ContentLink.ID.ToString())"></div>
}

<script type="text/javascript">
    $(document).ready(function (e) {

        /*Countdown
        *******************************************/
        $('#timer').countdown('@Model.TargetDate', function (event) {
            $(this).html(event.strftime('%D:%H:%M:%S'));
        });
    });
</script>