@model CartModel

@{
    ViewBag.Title = Model.CurrentPage.Name;
}

<!--Shopping Cart-->
<section class="shopping-cart" class="cart-page" ng-controller="CartController" ng-init="initCart('Default', '@Model.Language')">
    <div class="container">
        <div class="row">
            <!--Items List-->
            <div class="col-lg-9 col-md-9">
                <h1 class="title">@Html.PropertyFor(m => m.CurrentPage.Name)</h1>
                @Html.Partial("PagePartials/_ItemList", new CartItemListViewModel() { HideMoveToCart = true })
                <button class="btn btn-default pull-right" ng-click="emptyCart('Default')">@Html.Translate("/common/cart/empty_cart")</button>
            </div>
            <div class="col-lg-3 col-md-3">
                @Html.Partial("PagePartials/_CartTotal")
            </div>
        </div>
    </div>
</section>

@if (Model.Recommendations.Any())
{
    <div class="container">

            <h2>You may also like</h2>
            <p>Forgot something? Others that bought the products you have added to the cart were also interested in these products.</p>

        <div class="row">
            @foreach (var recommendation in Model.Recommendations)
            {
                <div class="col-md-4 clearfix">
                    @Html.Partial("../../Shared/ProductPartials/_ProductListView", recommendation)
                </div>
                }
        </div>
    </div>
}