@using System.Net.Http
@using OxxCommerceStarterKit.Web
@using OxxCommerceStarterKit.Web.Models.Files
@using SelectListItem = System.Web.Mvc.SelectListItem
@model QuickBuyViewModel

<div class="row">
    @Html.PropertyFor(x=>x.CurrentBlock.Content)
</div>
<div class="row">
    <div class="col-lg-4">

        <div @Html.EditAttributes(m => m.ImageContent)>
            @if (Model.ImageContent != null)
            {
                Model.ImageContent.IsMobile = this.Request.Browser.IsMobileDevice;
                @Html.Partial("~/Views/ImageFile/Index.cshtml", Model.ImageContent)
            }
        </div>
    </div>
    <div class="col-lg-8">
        @using (Ajax.BeginForm("PlaceOrder", "QuickBuy", new AjaxOptions { UpdateTargetId = "result", InsertionMode = InsertionMode.InsertAfter, HttpMethod = "Post" }, new { @class = "quickbuy form-horizontal" }))
        {


            if (Model.Products != null && Model.Products.Any())
            {
                if (Model.Products.Count() > 1)
                {

                    <div class="form-group">
                        <label class="col-sm-2 control-label">@Html.Translate("/common/quickbuy/form/product")</label>
                        <div class="col-sm-10">
                            @Html.DropDownListFor(x => x.SelectedSku, Model.Products.Select(y => new SelectListItem() { Text = y.Name, Value = y.Sku }), new { @class = "form-controlv input-sm" })
                        </div>
                    </div>
                }
                else
                {
                    @Html.Hidden("SelectedSku", Model.Products.FirstOrDefault().Sku)
                }
            }

            @Html.Hidden("CouponCode", Model.CurrentBlock.CouponCode)
            <div class="form-group">
                <label class="col-sm-2 control-label">@Html.Translate("/common/quickbuy/form/name")</label>
                <div class="col-sm-5">
                    @Html.EditorFor(x => x.FirstName, new { @class = "form-control input-sm", Placeholder = @Html.Translate("/common/quickbuy/form/firstname") })
                </div>
                <div class="col-sm-5">
                    @Html.EditorFor(x => x.LastName, new { @class = "form-control input-sm", Placeholder = @Html.Translate("/common/quickbuy/form/lastname") })
                </div>
            </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">@Html.Translate("/common/quickbuy/form/address")</label>
                    <div class="col-sm-10">
                        @Html.EditorFor(x => x.Address, new { @class = "form-control input-sm", Placeholder = @Html.Translate("/common/quickbuy/form/address") })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">@Html.Translate("/common/quickbuy/form/zipcode")/@Html.Translate("/common/quickbuy/form/city") </label>
                    <div class="col-sm-2">
                        @Html.EditorFor(x => x.ZipCode, new { @class = "form-control input-sm", Placeholder = @Html.Translate("/common/quickbuy/form/zipcode") })
                    </div>
                    <div class="col-sm-8">
                        @Html.EditorFor(x => x.City, new { @class = "form-control input-sm", Placeholder = @Html.Translate("/common/quickbuy/form/city") })
                    </div>
                </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">@Html.Translate("/common/quickbuy/form/phone")/@Html.Translate("/common/quickbuy/form/mail") </label>
                <div class="col-sm-4">
                    @Html.EditorFor(x => x.PhoneNumber, new { @class = "form-control input-sm", Placeholder = @Html.Translate("/common/quickbuy/form/phone") })
                </div>
                <div class="col-sm-6">
                    @Html.EditorFor(x => x.Mail, new { @class = "form-control input-sm", Placeholder = @Html.Translate("/common/quickbuy/form/mail") })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">@Html.Translate("/common/quickbuy/form/frequency/label") </label>
                <div class="col-sm-10">
                    @Html.DropDownListFor(x => x.Frequency, Model.Frequencies.Select(y => new SelectListItem() { Text = @Html.Translate("/common/quickbuy/form/frequency/" + y), Value = y.ToString() }), new { @class = "form-control input-sm", Placeholder = @Html.Translate("/common/quickbuy/form/mail") })
                </div>              
            </div>            
            if (Model.CurrentBlock.RequireDisclaimer)
            {
                @Html.CheckBoxFor(x=>x.ApproveDisclaimer)
                @Html.PropertyFor(x=>x.CurrentBlock.Disclaimer)
            }

                <input type="submit" class="btn btn-default" value="@Html.Translate("/common/quickbuy/form/buy")" />


                <div id="result">
                </div>
        }
    </div>
</div>
