@using OxxCommerceStarterKit.Core
@using OxxCommerceStarterKit.Core.Extensions
@model PriceModel
@if (Model != null && Model.DefaultPrice != null && Model.DefaultPrice.UnitPrice.Amount > 0)
{
    <div itemprop="price">
        @{
            var priceCss = "price";
            if (Model.HasDiscount())
            {
                priceCss = "old-price";

            }
            <div class="@priceCss"><text>@Html.Translate("/common/product/price") @Model.DefaultPrice.UnitPrice.ToString(System.Globalization.CultureInfo.CurrentCulture)</text></div>
        }
        @if (Model.HasDiscount())
        {
            <div class="price">@Html.Translate("/common/product/sale_price"): @Model.DiscountPrice.Price.ToString()</div>

        }
        else if (Model.HasCustomerPrice())
        {
            <div class="member-price">@Html.Translate("/common/product/member_price"): @Model.CustomerClubPrice.GetPriceAmountStringSafe()</div>

        }
    </div>
}
else
{
    <div>Not for sale</div>
}