@using EPiServer.Shell.Navigation
@using EPiServer.Framework.Web.Resources
@using EPiServer.Shell
@using EPiServer.Shell.Web.Mvc.Html

@inherits System.Web.Mvc.WebViewPage<OxxCommerceStarterKit.Web.modules._protected.Campaign.CampaignViewModel>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    @Html.Raw(ClientResources.RenderResources("ShellCore"))
    @Html.Raw(ClientResources.RenderResources("ShellWidgets"))
    @Html.Raw(ClientResources.RenderResources("ShellCoreLightTheme"))
    @Html.Raw(ClientResources.RenderResources("Navigation"))
    @Html.Raw(ClientResources.RenderResources("DojoDashboardCompatibility", new[] { ClientResourceType.Style }))
</head>
<body>
@Html.ShellInitializationScript()
@Html.Raw(Html.GlobalMenu(string.Empty, "/global/campaign/" + Model.Action))
<script>
    //$(document).load(function () {
    //    $(".peeriusiframe").contents().find(".btn").hide();
    //});
    //});
</script>
<iframe width="100%" height="2000" frameborder="0" scrolling="no" src="@Model.FrameSource" runat="server" class="campaigniframe" id="campaignurl" allowFullScreen="true"></iframe>
</body>
</html>